.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

:root {
  --light-background: white;
  --light-text: black;
  --dark-background: #222;
  --dark-text: white;
}


/* body{
  background-image: url("https://th.bing.com/th/id/R.88f345e8c9ce199f1f845449a2490ac8?rik=8elBp8AzQIY7sg&riu=http%3a%2f%2foyster.ignimgs.com%2fwordpress%2fstg.ign.com%2f2015%2f09%2f300-logo-720x525.jpg&ehk=XueJt%2bKTLqrUg%2b%2b2EhrMuaGGUl3BFwiVMRYzdqClyy0%3d&risl=&pid=ImgRaw&r=0");
    background-size:180vh;
    font-family: 'Rubik', sans-serif;
    display:block;
    justify-content:flex-end;
    align-items:center;
    background-repeat: no-repeat;
} */

.img-fluid{
  margin: 0 auto 0 58%;
  height: 50vh;
  width: 70vh;
}

/* CSS */
.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 70px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1rem;
  max-width: 16.2%;
  min-width: 140px;
  margin: 0 auto 5% 42%;
  padding: 2px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  margin-left:1px;
  padding: 20px 20px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.icon{
  width:30px;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}

/* Add these CSS rules to your stylesheet */
.flex-container-dark {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;  
}

.flex-container-light {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #e3f2fd;
}

.text-container-dark,
.text-container-light {
  flex: 2;
  padding: 10px; /* Adjust the padding as needed */
}

.image-container {
  flex: 1;
  padding: 10px; /* Adjust the padding as needed */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.image-container img {
  max-width: 100%;
}


.btn-search{
  margin-left: 10px;
  border-radius: 10px;
  color:#e3f2fd;
  background-color:transparent;
  background-clip:border-box;
  -webkit-background-clip: border-box;
  background-image:linear-gradient(to right,#6b3ee9,#ff0000);
}

.btn{
  border-color:#282c34;
  color: #e3f2fd;
  background-color:#282c34;
  border-style:groove;
  border-width: 5px;
  /* margin: auto 0 auto 45%; */
}

.btn:hover{
  color:whitesmoke;
  border-color: #282c34;
  background-color: brown;
}

.navbar{
  color:transparent;
  /* background-clip:border-box;
  -webkit-background-clip: border-box;
  background-image:linear-gradient(to right,#6b3ee9,#ff0000); */
}

.bg-body-tertiary{
    color: #e3f2fd;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color:aqua;
}

a{
  font-size: x-large;
  /* color:#231b1b; */
  text-decoration: none;
}

.navbar-brand{
  /* color: white; */
  font-size: larger;
  font-weight: bold;
}

.collapse{
  color: white;
  font-size: larger;
  font-weight: bold;
}

.mb-3{
  border-radius: 10px;
}

p{
  /* color:aliceblue; */
  font-size:30px;
  font-weight: bold;
  padding-left: 200px;
  padding-right: 200px;
}

td{
  padding-top: 30px;
  padding-left: 150px;
  letter-spacing: normal;
  font-size: xx-large;
}

img{
    width: 10%;
    height: 10%;
}

h1{
  text-align: center;
  text-transform:uppercase;
  color:red;
  font-size: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h2{
  text-align: center;
  text-transform:uppercase;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(500deg);
  }
}
